.background{
    background-color: #223542;
}

.s-card{
    color: orange ;
}

.zoom img{
    transition: 3s ease-in-out;
}

.zoom:hover img{
    transform: scale(1.18);
}

.image{
    transition: 4s ease-in-out;
}

.image:hover{
    border: 2px solid red;
}

.bg1{
    background-color: #2235422f;
    border-radius: 15px;
    
}
.bg2{
    background-color: #22354277;
    border-radius: 15px;
    
}

.copyright{
    margin-left: 39%;
}